In [15]:
!pip install hrv-analysis

Collecting hrv-analysis
  Downloading hrv_analysis-1.0.4-py3-none-any.whl (28 kB)
Requirement already satisfied: scipy>=1.1.0 in c:\users\asus\anaconda3\lib\site-packages (from hrv-analysis) (1.10.0)
Requirement already satisfied: nolds>=0.4.1 in c:\users\asus\anaconda3\lib\site-packages (from hrv-analysis) (0.5.2)
Requirement already satisfied: matplotlib>=2.2.2 in c:\users\asus\anaconda3\lib\site-packages (from hrv-analysis) (3.7.0)
Requirement already satisfied: pandas>=0.23.4 in c:\users\asus\anaconda3\lib\site-packages (from hrv-analysis) (1.5.3)
Requirement already satisfied: numpy>=1.15.1 in c:\users\asus\anaconda3\lib\site-packages (from hrv-analysis) (1.23.5)
Requirement already satisfied: astropy>=3.0.4 in c:\users\asus\anaconda3\lib\site-packages (from hrv-analysis) (5.1)
Requirement already satisfied: PyYAML>=3.13 in c:\users\asus\anaconda3\lib\site-packages (from astropy>=3.0.4->hrv-analysis) (6.0)
Requirement already satisfied: pyerfa>=2.0 in c:\users\asus\anaconda3\lib\site-packages (from astropy>=3.0.4->hrv-analysis) (2.0.0)
Requirement already satisfied: packaging>=19.0 in c:\users\asus\anaconda3\lib\site-packages (from astropy>=3.0.4->hrv-analysis) (22.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\asus\anaconda3\lib\site-packages (from matplotlib>=2.2.2->hrv-analysis) (1.4.4)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\asus\anaconda3\lib\site-packages (from matplotlib>=2.2.2->hrv-analysis) (3.0.9)
Requirement already satisfied: cycler>=0.10 in c:\users\asus\anaconda3\lib\site-packages (from matplotlib>=2.2.2->hrv-analysis) (0.11.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\asus\anaconda3\lib\site-packages (from matplotlib>=2.2.2->hrv-analysis) (1.0.5)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\asus\anaconda3\lib\site-packages (from matplotlib>=2.2.2->hrv-analysis) (2.8.2)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\asus\anaconda3\lib\site-packages (from matplotlib>=2.2.2->hrv-analysis) (4.25.0)
Requirement already satisfied: pillow>=6.2.0 in c:\users\asus\anaconda3\lib\site-packages (from matplotlib>=2.2.2->hrv-analysis) (9.4.0)
Requirement already satisfied: future in c:\users\asus\anaconda3\lib\site-packages (from nolds>=0.4.1->hrv-analysis) (0.18.3)
Requirement already satisfied: setuptools in c:\users\asus\anaconda3\lib\site-packages (from nolds>=0.4.1->hrv-analysis) (65.6.3)
Requirement already satisfied: pytz>=2020.1 in c:\users\asus\anaconda3\lib\site-packages (from pandas>=0.23.4->hrv-analysis) (2022.7)
Requirement already satisfied: six>=1.5 in c:\users\asus\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib>=2.2.2->hrv-analysis) (1.16.0)
Installing collected packages: hrv-analysis
Successfully installed hrv-analysis-1.0.4

In [21]:
import pandas as pd
from hrvanalysis import get_time_domain_features

# Membaca file XLSX menggunakan pandas
data = pd.read_excel('tesrrinterval.xlsx')
data

         A    B
0      789  735
1      727  781
2      789  742
3      750  680
4      812  758
...    ...  ...
68024  852  524
68025  898  593
68026  797  602
68027  906  672
68028  891  672

[68029 rows x 2 columns]

In [22]:
# Mendapatkan kolom RR interval untuk orang A
rr_intervals_a = data['A'].tolist()

# Memanggil fungsi get_time_domain_features untuk orang A
time_domain_features_a = get_time_domain_features(rr_intervals_a)

# Mendapatkan kolom RR interval untuk orang B
rr_intervals_b = data['B'].tolist()

# Memanggil fungsi get_time_domain_features untuk orang B
time_domain_features_b = get_time_domain_features(rr_intervals_b)

# Menampilkan hasil untuk orang A
print("Hasil Analisis Orang A:")
print(time_domain_features_a)

# Menampilkan hasil untuk orang B
print("Hasil Analisis Orang B:")
print(time_domain_features_b)

Hasil Analisis Orang A:
{'mean_nni': 994.9363212747505, 'sdnn': 117.28240613163155, 'sdsd': 56.72635413414551, 'nni_50': 19082, 'pnni_50': 28.050214617510438, 'nni_20': 45733, 'pnni_20': 67.22673016993002, 'rmssd': 56.72635415396124, 'median_nni': 1000.0, 'range_nni': 1094, 'cvsd': 0.057015060100812545, 'cvnni': 0.11787930908117299, 'mean_hr': 61.22216508497811, 'max_hr': 144.92753623188406, 'min_hr': 39.787798408488065, 'std_hr': 7.928808545657166}
Hasil Analisis Orang B:
{'mean_nni': 840.0280174631407, 'sdnn': 158.81446313484858, 'sdsd': 64.25390799859498, 'nni_50': 25628, 'pnni_50': 37.67272299641324, 'nni_20': 48451, 'pnni_20': 71.22214382313165, 'rmssd': 64.25390800526883, 'median_nni': 852.0, 'range_nni': 1062, 'cvsd': 0.0764901963619186, 'cvnni': 0.18905853118383298, 'mean_hr': 74.26903820115766, 'max_hr': 170.45454545454547, 'min_hr': 42.432814710042436, 'std_hr': 15.40681850094143}

In [25]:
csv_file = '16265.csv'
df = pd.read_csv(csv_file)
df

           ECG1   ECG2
0        -0.165 -0.325
1        -0.155 -0.325
2        -0.195 -0.305
3        -0.205 -0.305
4        -0.185 -0.295
...         ...    ...
11730939 -0.050 -0.095
11730940 -0.050 -0.085
11730941 -0.050 -0.095
11730942 -0.050 -0.085
11730943 -0.050 -0.085

[11730944 rows x 2 columns]

In [28]:
!pip install biosppy

Collecting biosppy
  Using cached biosppy-1.0.0-py2.py3-none-any.whl (106 kB)
Requirement already satisfied: bidict in c:\users\asus\anaconda3\lib\site-packages (from biosppy) (0.22.1)
Requirement already satisfied: opencv-python in c:\users\asus\anaconda3\lib\site-packages (from biosppy) (4.7.0.72)
Requirement already satisfied: shortuuid in c:\users\asus\anaconda3\lib\site-packages (from biosppy) (1.0.11)
Requirement already satisfied: matplotlib in c:\users\asus\anaconda3\lib\site-packages (from biosppy) (3.7.0)
Requirement already satisfied: six in c:\users\asus\anaconda3\lib\site-packages (from biosppy) (1.16.0)
Requirement already satisfied: scikit-learn in c:\users\asus\anaconda3\lib\site-packages (from biosppy) (1.2.1)
Requirement already satisfied: numpy in c:\users\asus\anaconda3\lib\site-packages (from biosppy) (1.23.5)
Requirement already satisfied: joblib in c:\users\asus\anaconda3\lib\site-packages (from biosppy) (1.1.1)
Requirement already satisfied: h5py in c:\users\asus\anaconda3\lib\site-packages (from biosppy) (3.7.0)
Requirement already satisfied: scipy in c:\users\asus\anaconda3\lib\site-packages (from biosppy) (1.10.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\asus\anaconda3\lib\site-packages (from matplotlib->biosppy) (4.25.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\asus\anaconda3\lib\site-packages (from matplotlib->biosppy) (1.0.5)
Requirement already satisfied: pillow>=6.2.0 in c:\users\asus\anaconda3\lib\site-packages (from matplotlib->biosppy) (9.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\asus\anaconda3\lib\site-packages (from matplotlib->biosppy) (3.0.9)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\asus\anaconda3\lib\site-packages (from matplotlib->biosppy) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\asus\anaconda3\lib\site-packages (from matplotlib->biosppy) (22.0)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\asus\anaconda3\lib\site-packages (from matplotlib->biosppy) (2.8.2)
Requirement already satisfied: cycler>=0.10 in c:\users\asus\anaconda3\lib\site-packages (from matplotlib->biosppy) (0.11.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\asus\anaconda3\lib\site-packages (from scikit-learn->biosppy) (2.2.0)
Installing collected packages: biosppy
Successfully installed biosppy-1.0.0

In [29]:
import pandas as pd
import numpy as np
from biosppy.signals import ecg

# Ambil sinyal ECG dari kolom ECG1
ecg_signal = df['ECG1'].values

# Pra-pemrosesan ECG1, show=False)
processed_ecg = ecg.ecg(signal=ecg_signal, sampling_rate=128, show=False)

# Deteksi kompleks QRS
qrs_indices = processed_ecg['rpeaks']

# Perhitungan interval RR
rr_intervals = np.diff(qrs_indices) / 128  # Mengubah selisih indeks menjadi interval dalam detik

# Hasilnya adalah array RR intervals yang dapat Anda gunakan untuk analisis HRV
rr_intervals

array([0.6015625, 0.609375 , 0.6015625, ..., 0.796875 , 0.8515625,
       0.875    ])

In [30]:
dfx = pd.DataFrame({'RR Intervals': rr_intervals})

In [31]:
dfxm = dfx.multiply(1000)
dfxm

        RR Intervals
0           601.5625
1           609.3750
2           601.5625
3           625.0000
4           609.3750
...              ...
100476      781.2500
100477      750.0000
100478      796.8750
100479      851.5625
100480      875.0000

[100481 rows x 1 columns]

In [32]:
import pandas as pd
from hrvanalysis import get_time_domain_features

# Mendapatkan kolom RR interval untuk orang A
rr_intervalss = dfxm['RR Intervals'].tolist()

# Memanggil fungsi get_time_domain_features untuk orang A
time_domain_featuress = get_time_domain_features(rr_intervalss)
time_domain_featuress

{'mean_nni': 796.7833315502434,
 'sdnn': 170.82524657934715,
 'sdsd': 43.45640565149792,
 'nni_50': 17868,
 'pnni_50': 17.78264331210191,
 'nni_20': 51915,
 'pnni_20': 51.66699840764331,
 'rmssd': 43.45640573670449,
 'median_nni': 773.4375,
 'range_nni': 1421.875,
 'cvsd': 0.05453980274933026,
 'cvnni': 0.2143935996338991,
 'mean_hr': 78.86769036080008,
 'max_hr': 480.0,
 'min_hr': 38.78787878787879,
 'std_hr': 17.089318534815096}

In [33]:
import pandas as pd
import numpy as np
from biosppy.signals import ecg

# Ambil sinyal ECG dari kolom ECG1
ecg_signal1 = df['ECG2'].values

# Pra-pemrosesan ECG1, show=False)
processed_ecg1 = ecg.ecg(signal=ecg_signal1, sampling_rate=128, show=False)

# Deteksi kompleks QRS
qrs_indices1 = processed_ecg1['rpeaks']

# Perhitungan interval RR
rr_intervals1 = np.diff(qrs_indices1) / 128  # Mengubah selisih indeks menjadi interval dalam detik

# Hasilnya adalah array RR intervals yang dapat Anda gunakan untuk analisis HRV
rr_intervals1

array([0.609375 , 0.6015625, 0.609375 , ..., 0.7890625, 0.890625 ,
       0.875    ])

In [36]:
dfy = pd.DataFrame({'RR Intervals': rr_intervals1})
dfxn = dfy.multiply(1000)
dfxn

        RR Intervals
0           609.3750
1           601.5625
2           609.3750
3           617.1875
4           617.1875
...              ...
100050      781.2500
100051      718.7500
100052      789.0625
100053      890.6250
100054      875.0000

[100055 rows x 1 columns]

In [37]:
import pandas as pd
from hrvanalysis import get_time_domain_features

# Mendapatkan kolom RR interval untuk orang A
rr_intervalsz = dfxn['RR Intervals'].tolist()

# Memanggil fungsi get_time_domain_features untuk orang A
time_domain_featuresz = get_time_domain_features(rr_intervalsz)
time_domain_featuresz

{'mean_nni': 800.1758407875668,
 'sdnn': 177.35789249549376,
 'sdsd': 84.666661010048,
 'nni_50': 28435,
 'pnni_50': 28.41965338717093,
 'nni_20': 63339,
 'pnni_20': 63.30481539968417,
 'rmssd': 84.66666105167036,
 'median_nni': 781.25,
 'range_nni': 2414.0625,
 'cvsd': 0.10581006915722158,
 'cvnni': 0.22164864702854642,
 'mean_hr': 79.06122925209301,
 'max_hr': 7680.0,
 'min_hr': 24.774193548387096,
 'std_hr': 31.756767079461596}

In [ ]:
import pandas as pd
import numpy as np
from biosppy.signals import ecg

# Ambil sinyal ECG dari kolom ECG1
ecg_signal1 = df['ECG2'].values

# Pra-pemrosesan ECG1, show=False)
processed_ecg1 = ecg.ecg(signal=ecg_signal1, sampling_rate=128, show=False)

# Deteksi kompleks QRS
qrs_indices1 = processed_ecg1['rpeaks']

# Perhitungan interval RR
rr_intervals1 = np.diff(qrs_indices1) / 128  # Mengubah selisih indeks menjadi interval dalam detik

# Hasilnya adalah array RR intervals yang dapat Anda gunakan untuk analisis HRV
rr_intervals1

# 16272

In [1]:
pip install wfdb

Requirement already satisfied: wfdb in c:\users\asus\anaconda3\lib\site-packages (4.1.1)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: matplotlib>=3.2.2 in c:\users\asus\anaconda3\lib\site-packages (from wfdb) (3.7.0)
Requirement already satisfied: numpy>=1.10.1 in c:\users\asus\anaconda3\lib\site-packages (from wfdb) (1.23.5)
Requirement already satisfied: SoundFile>=0.10.0 in c:\users\asus\anaconda3\lib\site-packages (from wfdb) (0.12.1)
Requirement already satisfied: scipy>=1.0.0 in c:\users\asus\anaconda3\lib\site-packages (from wfdb) (1.10.0)
Requirement already satisfied: requests>=2.8.1 in c:\users\asus\anaconda3\lib\site-packages (from wfdb) (2.28.1)
Requirement already satisfied: pandas>=1.3.0 in c:\users\asus\anaconda3\lib\site-packages (from wfdb) (1.5.3)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\asus\anaconda3\lib\site-packages (from matplotlib>=3.2.2->wfdb) (2.8.2)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\asus\anaconda3\lib\site-packages (from matplotlib>=3.2.2->wfdb) (4.25.0)
Requirement already satisfied: cycler>=0.10 in c:\users\asus\anaconda3\lib\site-packages (from matplotlib>=3.2.2->wfdb) (0.11.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\asus\anaconda3\lib\site-packages (from matplotlib>=3.2.2->wfdb) (3.0.9)
Requirement already satisfied: packaging>=20.0 in c:\users\asus\anaconda3\lib\site-packages (from matplotlib>=3.2.2->wfdb) (22.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\asus\anaconda3\lib\site-packages (from matplotlib>=3.2.2->wfdb) (1.0.5)
Requirement already satisfied: pillow>=6.2.0 in c:\users\asus\anaconda3\lib\site-packages (from matplotlib>=3.2.2->wfdb) (9.4.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\asus\anaconda3\lib\site-packages (from matplotlib>=3.2.2->wfdb) (1.4.4)
Requirement already satisfied: pytz>=2020.1 in c:\users\asus\anaconda3\lib\site-packages (from pandas>=1.3.0->wfdb) (2022.7)
Requirement already satisfied: idna<4,>=2.5 in c:\users\asus\anaconda3\lib\site-packages (from requests>=2.8.1->wfdb) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\asus\anaconda3\lib\site-packages (from requests>=2.8.1->wfdb) (1.26.14)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\asus\anaconda3\lib\site-packages (from requests>=2.8.1->wfdb) (2022.12.7)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\asus\anaconda3\lib\site-packages (from requests>=2.8.1->wfdb) (2.0.4)
Requirement already satisfied: cffi>=1.0 in c:\users\asus\anaconda3\lib\site-packages (from SoundFile>=0.10.0->wfdb) (1.15.1)
Requirement already satisfied: pycparser in c:\users\asus\anaconda3\lib\site-packages (from cffi>=1.0->SoundFile>=0.10.0->wfdb) (2.21)
Requirement already satisfied: six>=1.5 in c:\users\asus\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.2.2->wfdb) (1.16.0)

In [2]:
import wfdb
import pandas as pd

In [3]:
record = wfdb.rdsamp('16272')
df = pd.DataFrame(record[0], columns=record[1]['sig_name'])
df.to_csv('16272.csv', index=False)

In [4]:
csv_file2 = '16272.csv'
df3 = pd.read_csv(csv_file2)
df3

           ECG1   ECG2
0        -0.185 -0.085
1        -0.215 -0.105
2        -0.215 -0.105
3        -0.245 -0.105
4        -0.205 -0.095
...         ...    ...
11519995 -0.040 -0.075
11519996 -0.040 -0.075
11519997 -0.040 -0.075
11519998 -0.040 -0.075
11519999 -0.040 -0.075

[11520000 rows x 2 columns]

In [57]:
csv_file2 = '16272.csv'
dff3 = pd.read_csv(csv_file2)
dff3

           ECG1   ECG2
0        -0.185 -0.085
1        -0.215 -0.105
2        -0.215 -0.105
3        -0.245 -0.105
4        -0.205 -0.095
...         ...    ...
11519995 -0.040 -0.075
11519996 -0.040 -0.075
11519997 -0.040 -0.075
11519998 -0.040 -0.075
11519999 -0.040 -0.075

[11520000 rows x 2 columns]

In [58]:
dff3.drop(df.index[999999:11519999], inplace=True)

In [5]:
#PAKAI SEMUA DATA

import numpy as np
from biosppy.signals import ecg

# Ambil sinyal ECG dari kolom ECG1
ecg_signal = df3['ECG1'].values

# Pra-pemrosesan ECG1, show=False)
processed_ecg = ecg.ecg(signal=ecg_signal, sampling_rate=128, show=False)

# Deteksi kompleks QRS
qrs_indices = processed_ecg['rpeaks']

# Perhitungan interval RR
rr_intervals = np.diff(qrs_indices) / 128  # Mengubah selisih indeks menjadi interval dalam detik

# Hasilnya adalah array RR intervals yang dapat Anda gunakan untuk analisis HRV
rr_intervals

array([0.9765625, 0.9609375, 0.9609375, ..., 0.8046875, 0.7890625,
       0.7890625])

In [11]:
dfy = pd.DataFrame({'RR Intervals': rr_intervals})
dfxn = dfy.multiply(1000)
dfxn

       RR Intervals
0          976.5625
1          960.9375
2          960.9375
3          953.1250
4          960.9375
...             ...
92286      750.0000
92287      781.2500
92288      804.6875
92289      789.0625
92290      789.0625

[92291 rows x 1 columns]

In [13]:
from hrvanalysis import get_time_domain_features

# Mendapatkan kolom RR interval untuk orang A
rr_intervalss = dfxn['RR Intervals'].tolist()

# Memanggil fungsi get_time_domain_features untuk orang A
time_domain_featuress = get_time_domain_features(rr_intervalss)
time_domain_featuress

{'mean_nni': 914.4496077624037,
 'sdnn': 214.64602345506444,
 'sdsd': 218.45176546987855,
 'nni_50': 9415,
 'pnni_50': 10.20153862823708,
 'nni_20': 39038,
 'pnni_20': 42.29927402752194,
 'rmssd': 218.45176547932584,
 'median_nni': 937.5,
 'range_nni': 18421.875,
 'cvsd': 0.23888879564819598,
 'cvnni': 0.23472701134433063,
 'mean_hr': 69.77276570243396,
 'max_hr': 7680.0,
 'min_hr': 3.255616786774057,
 'std_hr': 35.74028859266652}

In [59]:
#PAKAI 1 JUTA DATA

import numpy as np
from biosppy.signals import ecg

# Ambil sinyal ECG dari kolom ECG1
ecg_signal = dff3['ECG1'].values

# Pra-pemrosesan ECG1, show=False)
processed_ecg = ecg.ecg(signal=ecg_signal, sampling_rate=128, show=False)

# Deteksi kompleks QRS
qrs_indices = processed_ecg['rpeaks']

# Perhitungan interval RR
rr_intervals = np.diff(qrs_indices) / 128  # Mengubah selisih indeks menjadi interval dalam detik

# Hasilnya adalah array RR intervals yang dapat Anda gunakan untuk analisis HRV
rr_intervals

array([0.9765625, 0.9609375, 0.9609375, ..., 0.9453125, 0.984375 ,
       1.0078125])

In [62]:
dfz = pd.DataFrame({'RR Intervals': rr_intervals})
dfxz = dfz.multiply(1000)
dfxz

      RR Intervals
0         976.5625
1         960.9375
2         960.9375
3         953.1250
4         960.9375
...            ...
7982      960.9375
7983      953.1250
7984      945.3125
7985      984.3750
7986     1007.8125

[7987 rows x 1 columns]

In [63]:
# Mendapatkan kolom RR interval untuk orang A
rr_intervalss = dfxz['RR Intervals'].tolist()

# Memanggil fungsi get_time_domain_features untuk orang A
time_domain_featuress = get_time_domain_features(rr_intervalss)
time_domain_featuress

{'mean_nni': 978.0111431075497,
 'sdnn': 114.00468083598099,
 'sdsd': 41.77755308685911,
 'nni_50': 1002,
 'pnni_50': 12.546957175056349,
 'nni_20': 4259,
 'pnni_20': 53.33082895066366,
 'rmssd': 41.77755327011942,
 'median_nni': 992.1875,
 'range_nni': 1664.0625,
 'cvsd': 0.04271684792606216,
 'cvnni': 0.11656787516115667,
 'mean_hr': 62.32728388395749,
 'max_hr': 264.82758620689657,
 'min_hr': 31.735537190082646,
 'std_hr': 8.79805790684338}

# 16273

In [15]:
record = wfdb.rdsamp('16273')
da = pd.DataFrame(record[0], columns=record[1]['sig_name'])
da.to_csv('16273.csv', index=False)

In [9]:
import pandas as pd
csv_file2 = '16273.csv'
df4 = pd.read_csv(csv_file2)
df4

           ECG1   ECG2
0        -0.305 -0.165
1        -0.265 -0.145
2        -0.245 -0.155
3        -0.235 -0.155
4        -0.235 -0.135
...         ...    ...
11354107  0.010 -0.055
11354108  0.000 -0.065
11354109  0.010 -0.055
11354110  0.010 -0.065
11354111  0.010 -0.055

[11354112 rows x 2 columns]

In [10]:
df4.drop(df4.index[3999999:11354111], inplace=True)

In [11]:
df4

           ECG1   ECG2
0        -0.305 -0.165
1        -0.265 -0.145
2        -0.245 -0.155
3        -0.235 -0.155
4        -0.235 -0.135
...         ...    ...
3999995  -0.625 -0.025
3999996  -0.405  0.115
3999997   0.745  0.295
3999998   2.405  0.375
11354111  0.010 -0.055

[4000000 rows x 2 columns]

In [12]:
import numpy as np
from biosppy.signals import ecg

# Ambil sinyal ECG dari kolom ECG1
ecg_signal = df4['ECG1'].values

# Pra-pemrosesan ECG1, show=False)
processed_ecg = ecg.ecg(signal=ecg_signal, sampling_rate=128, show=False)

# Deteksi kompleks QRS
qrs_indices = processed_ecg['rpeaks']

# Perhitungan interval RR
rr_intervals = np.diff(qrs_indices) / 128  # Mengubah selisih indeks menjadi interval dalam detik

# Hasilnya adalah array RR intervals yang dapat Anda gunakan untuk analisis HRV
rr_intervals

array([0.6015625, 0.6015625, 0.609375 , ..., 0.796875 , 0.8125   ,
       0.78125  ])

In [13]:
dfy = pd.DataFrame({'RR Intervals': rr_intervals})
dfxn = dfy.multiply(1000)
dfxn

       RR Intervals
0          601.5625
1          601.5625
2          609.3750
3          609.3750
4          617.1875
...             ...
41420      859.3750
41421      796.8750
41422      796.8750
41423      812.5000
41424      781.2500

[41425 rows x 1 columns]

In [14]:
from hrvanalysis import get_time_domain_features

# Mendapatkan kolom RR interval untuk orang A
rr_intervalss = dfxn['RR Intervals'].tolist()

# Memanggil fungsi get_time_domain_features untuk orang A
time_domain_featuress = get_time_domain_features(rr_intervalss)
time_domain_featuress

{'mean_nni': 754.3389785757392,
 'sdnn': 117.82257010963409,
 'sdsd': 32.63991928799194,
 'nni_50': 4278,
 'pnni_50': 10.327346465816918,
 'nni_20': 18967,
 'pnni_20': 45.78746620316725,
 'rmssd': 32.63991957623084,
 'median_nni': 757.8125,
 'range_nni': 1343.75,
 'cvsd': 0.04326956514676993,
 'cvnni': 0.15619313525610706,
 'mean_hr': 81.60492453009657,
 'max_hr': 698.1818181818181,
 'min_hr': 41.967213114754095,
 'std_hr': 13.756329537740319}

# 16420

In [64]:
record = wfdb.rdsamp('16420')
da = pd.DataFrame(record[0], columns=record[1]['sig_name'])
da.to_csv('16420.csv', index=False)

In [103]:
csv_file2 = '16420.csv'
df5 = pd.read_csv(csv_file2)
df5

           ECG1   ECG2
0        -0.095 -0.025
1        -0.085 -0.035
2        -0.085 -0.025
3        -0.085 -0.015
4        -0.065 -0.005
...         ...    ...
11051003 -0.070 -0.075
11051004 -0.070 -0.075
11051005 -0.070 -0.075
11051006 -0.070 -0.075
11051007 -0.070 -0.075

[11051008 rows x 2 columns]

In [104]:
df5.drop(df.index[1999999:11051007], inplace=True)

In [105]:
# Ambil sinyal ECG dari kolom ECG1
ecg_signal = df5['ECG1'].values

# Pra-pemrosesan ECG1, show=False)
processed_ecg = ecg.ecg(signal=ecg_signal, sampling_rate=128, show=False)

# Deteksi kompleks QRS
qrs_indices = processed_ecg['rpeaks']

# Perhitungan interval RR
rr_intervals = np.diff(qrs_indices) / 128  # Mengubah selisih indeks menjadi interval dalam detik

# Hasilnya adalah array RR intervals yang dapat Anda gunakan untuk analisis HRV
rr_intervals

array([0.6328125, 0.6171875, 0.640625 , ..., 0.5078125, 0.5234375,
       0.5234375])

In [106]:
dfy = pd.DataFrame({'RR Intervals': rr_intervals})
dfxn = dfy.multiply(1000)
dfxn

       RR Intervals
0          632.8125
1          617.1875
2          640.6250
3          640.6250
4          640.6250
...             ...
21670      515.6250
21671      507.8125
21672      507.8125
21673      523.4375
21674      523.4375

[21675 rows x 1 columns]

In [107]:
from hrvanalysis import get_time_domain_features

# Mendapatkan kolom RR interval untuk orang A
rr_intervalss = dfxn['RR Intervals'].tolist()

# Memanggil fungsi get_time_domain_features untuk orang A
time_domain_featuress = get_time_domain_features(rr_intervalss)
time_domain_featuress

{'mean_nni': 720.8232410611304,
 'sdnn': 82.26057466319874,
 'sdsd': 30.65416444990393,
 'nni_50': 1705,
 'pnni_50': 7.866568238442373,
 'nni_20': 7748,
 'pnni_20': 35.74790071052875,
 'rmssd': 30.654164865277174,
 'median_nni': 734.375,
 'range_nni': 1070.3125,
 'cvsd': 0.042526604469843264,
 'cvnni': 0.1141203140760309,
 'mean_hr': 84.45312592992732,
 'max_hr': 274.2857142857143,
 'min_hr': 46.54545454545455,
 'std_hr': 10.95192784476519}

# 16483

In [74]:
record = wfdb.rdsamp('16483')
da = pd.DataFrame(record[0], columns=record[1]['sig_name'])
da.to_csv('16483.csv', index=False)

In [108]:
csv_file2 = '16483.csv'
df6 = pd.read_csv(csv_file2)
df6

           ECG1   ECG2
0        -0.075 -0.160
1        -0.165 -0.160
2        -0.225 -0.190
3        -0.175 -0.200
4        -0.225 -0.190
...         ...    ...
11960315 -0.060 -0.075
11960316 -0.060 -0.075
11960317 -0.050 -0.075
11960318 -0.060 -0.075
11960319 -0.060 -0.075

[11960320 rows x 2 columns]

In [109]:
df6.drop(df.index[1999999:11960319], inplace=True)

In [110]:
# Ambil sinyal ECG dari kolom ECG1
ecg_signal = df6['ECG1'].values

# Pra-pemrosesan ECG1, show=False)
processed_ecg = ecg.ecg(signal=ecg_signal, sampling_rate=128, show=False)

# Deteksi kompleks QRS
qrs_indices = processed_ecg['rpeaks']

# Perhitungan interval RR
rr_intervals = np.diff(qrs_indices) / 128  # Mengubah selisih indeks menjadi interval dalam detik

# Hasilnya adalah array RR intervals yang dapat Anda gunakan untuk analisis HRV
rr_intervals

dfy = pd.DataFrame({'RR Intervals': rr_intervals})
dfxn = dfy.multiply(1000)
dfxn

# Mendapatkan kolom RR interval untuk orang A
rr_intervalss = dfxn['RR Intervals'].tolist()

# Memanggil fungsi get_time_domain_features untuk orang A
time_domain_featuress = get_time_domain_features(rr_intervalss)
time_domain_featuress

{'mean_nni': 640.0460473761829,
 'sdnn': 45.964050171535625,
 'sdsd': 17.38649765468502,
 'nni_50': 158,
 'pnni_50': 0.6472757066775912,
 'nni_20': 2661,
 'pnni_20': 10.901269971323229,
 'rmssd': 17.386497666468195,
 'median_nni': 640.625,
 'range_nni': 1195.3125,
 'cvsd': 0.02716444814828986,
 'cvnni': 0.07181366147007945,
 'mean_hr': 94.23047692315731,
 'max_hr': 365.7142857142857,
 'min_hr': 44.13793103448276,
 'std_hr': 7.027331281138128}

# 16539

In [79]:
record = wfdb.rdsamp('16539')
da = pd.DataFrame(record[0], columns=record[1]['sig_name'])
da.to_csv('16539.csv', index=False)

In [89]:
csv_file2 = '16539.csv'
df7 = pd.read_csv(csv_file2)
df7

           ECG1   ECG2
0        -0.185 -0.075
1        -0.155 -0.045
2        -0.145 -0.055
3        -0.135 -0.055
4        -0.105 -0.045
...         ...    ...
11327483 -0.060 -0.095
11327484 -0.050 -0.095
11327485 -0.050 -0.105
11327486 -0.050 -0.095
11327487 -0.050 -0.095

[11327488 rows x 2 columns]

In [90]:
df7.drop(df.index[2999999:11327487], inplace=True)

In [91]:
# Ambil sinyal ECG dari kolom ECG1
ecg_signal = df7['ECG1'].values

# Pra-pemrosesan ECG1, show=False)
processed_ecg = ecg.ecg(signal=ecg_signal, sampling_rate=128, show=False)

# Deteksi kompleks QRS
qrs_indices = processed_ecg['rpeaks']

# Perhitungan interval RR
rr_intervals = np.diff(qrs_indices) / 128  # Mengubah selisih indeks menjadi interval dalam detik

# Hasilnya adalah array RR intervals yang dapat Anda gunakan untuk analisis HRV
rr_intervals

dfy = pd.DataFrame({'RR Intervals': rr_intervals})
dfxn = dfy.multiply(1000)
dfxn

# Mendapatkan kolom RR interval untuk orang A
rr_intervalss = dfxn['RR Intervals'].tolist()

# Memanggil fungsi get_time_domain_features untuk orang A
time_domain_featuress = get_time_domain_features(rr_intervalss)
time_domain_featuress

{'mean_nni': 744.8562245741165,
 'sdnn': 155.73713897785711,
 'sdsd': 82.35705926524032,
 'nni_50': 8073,
 'pnni_50': 25.65871023106506,
 'nni_20': 16884,
 'pnni_20': 53.66303276864889,
 'rmssd': 82.3570594003717,
 'median_nni': 710.9375,
 'range_nni': 1148.4375,
 'cvsd': 0.11056772660718606,
 'cvnni': 0.2090834899941963,
 'mean_hr': 83.72861403025007,
 'max_hr': 219.42857142857142,
 'min_hr': 42.1978021978022,
 'std_hr': 15.88715750144374}

# 16773

In [111]:
record = wfdb.rdsamp('16773')
da = pd.DataFrame(record[0], columns=record[1]['sig_name'])
da.to_csv('16773.csv', index=False)

In [117]:
csv_file2 = '16773.csv'
df8 = pd.read_csv(csv_file2)
df8

           ECG1   ECG2
0        -0.355 -0.215
1        -0.355 -0.205
2        -0.345 -0.205
3        -0.335 -0.215
4        -0.335 -0.225
...         ...    ...
11046907 -0.040 -0.055
11046908 -0.040 -0.055
11046909 -0.040 -0.055
11046910 -0.040 -0.055
11046911 -0.040 -0.055

[11046912 rows x 2 columns]

In [118]:
df8.drop(df.index[2999999:11046911], inplace=True)

In [119]:
# Ambil sinyal ECG dari kolom ECG1
ecg_signal = df8['ECG1'].values

# Pra-pemrosesan ECG1, show=False)
processed_ecg = ecg.ecg(signal=ecg_signal, sampling_rate=128, show=False)

# Deteksi kompleks QRS
qrs_indices = processed_ecg['rpeaks']

# Perhitungan interval RR
rr_intervals = np.diff(qrs_indices) / 128  # Mengubah selisih indeks menjadi interval dalam detik

# Hasilnya adalah array RR intervals yang dapat Anda gunakan untuk analisis HRV
rr_intervals

dfy = pd.DataFrame({'RR Intervals': rr_intervals})
dfxn = dfy.multiply(1000)
dfxn

# Mendapatkan kolom RR interval untuk orang A
rr_intervalss = dfxn['RR Intervals'].tolist()

# Memanggil fungsi get_time_domain_features untuk orang A
time_domain_featuress = get_time_domain_features(rr_intervalss)
time_domain_featuress

{'mean_nni': 793.3157136449801,
 'sdnn': 97.99187951819282,
 'sdsd': 45.126532859501836,
 'nni_50': 5419,
 'pnni_50': 18.34399647946921,
 'nni_20': 16847,
 'pnni_20': 57.02921363528655,
 'rmssd': 45.12653287887532,
 'median_nni': 789.0625,
 'range_nni': 1000.0,
 'cvsd': 0.056883447664910464,
 'cvnni': 0.12352191924695136,
 'mean_hr': 76.79881223214868,
 'max_hr': 142.22222222222223,
 'min_hr': 42.1978021978022,
 'std_hr': 9.569677370178768}

# 16786

In [120]:
record = wfdb.rdsamp('16786')
da = pd.DataFrame(record[0], columns=record[1]['sig_name'])
da.to_csv('16786.csv', index=False)

In [121]:
csv_file2 = '16786.csv'
df9 = pd.read_csv(csv_file2)
df9

           ECG1   ECG2
0        -0.275 -0.015
1        -0.245  0.005
2        -0.285 -0.015
3        -0.265 -0.015
4        -0.235 -0.005
...         ...    ...
11284475 -0.030 -0.085
11284476 -0.030 -0.075
11284477 -0.030 -0.085
11284478 -0.030 -0.085
11284479 -0.040 -0.085

[11284480 rows x 2 columns]

In [122]:
df9.drop(df.index[1999999:11284479], inplace=True)

In [123]:
# Ambil sinyal ECG dari kolom ECG1
ecg_signal = df9['ECG1'].values

# Pra-pemrosesan ECG1, show=False)
processed_ecg = ecg.ecg(signal=ecg_signal, sampling_rate=128, show=False)

# Deteksi kompleks QRS
qrs_indices = processed_ecg['rpeaks']

# Perhitungan interval RR
rr_intervals = np.diff(qrs_indices) / 128  # Mengubah selisih indeks menjadi interval dalam detik

# Hasilnya adalah array RR intervals yang dapat Anda gunakan untuk analisis HRV
rr_intervals

dfy = pd.DataFrame({'RR Intervals': rr_intervals})
dfxn = dfy.multiply(1000)
dfxn

# Mendapatkan kolom RR interval untuk orang A
rr_intervalss = dfxn['RR Intervals'].tolist()

# Memanggil fungsi get_time_domain_features untuk orang A
time_domain_featuress = get_time_domain_features(rr_intervalss)
time_domain_featuress

{'mean_nni': 763.1947327927312,
 'sdnn': 100.001793163393,
 'sdsd': 34.822774943572135,
 'nni_50': 2385,
 'pnni_50': 11.651196873473376,
 'nni_20': 9751,
 'pnni_20': 47.635564240351734,
 'rmssd': 34.82277604995813,
 'median_nni': 773.4375,
 'range_nni': 1453.125,
 'cvsd': 0.04562764200760714,
 'cvnni': 0.13103050750554845,
 'mean_hr': 80.02096218993438,
 'max_hr': 225.88235294117646,
 'min_hr': 34.90909090909091,
 'std_hr': 10.825387940112135}

# 16795

In [124]:
record = wfdb.rdsamp('16795')
da = pd.DataFrame(record[0], columns=record[1]['sig_name'])
da.to_csv('16795.csv', index=False)

In [125]:
csv_file2 = '16795.csv'
df10 = pd.read_csv(csv_file2)
df10

           ECG1   ECG2
0         0.125 -0.045
1         0.005 -0.135
2         0.025 -0.155
3         0.065 -0.125
4        -0.085 -0.105
...         ...    ...
10866683 -0.020 -0.080
10866684 -0.030 -0.080
10866685 -0.030 -0.080
10866686 -0.030 -0.080
10866687 -0.030 -0.080

[10866688 rows x 2 columns]

In [126]:
df10.drop(df.index[1999999:10866687], inplace=True)

In [127]:
# Ambil sinyal ECG dari kolom ECG1
ecg_signal = df10['ECG1'].values

# Pra-pemrosesan ECG1, show=False)
processed_ecg = ecg.ecg(signal=ecg_signal, sampling_rate=128, show=False)

# Deteksi kompleks QRS
qrs_indices = processed_ecg['rpeaks']

# Perhitungan interval RR
rr_intervals = np.diff(qrs_indices) / 128  # Mengubah selisih indeks menjadi interval dalam detik

# Hasilnya adalah array RR intervals yang dapat Anda gunakan untuk analisis HRV
rr_intervals

dfy = pd.DataFrame({'RR Intervals': rr_intervals})
dfxn = dfy.multiply(1000)
dfxn

# Mendapatkan kolom RR interval untuk orang A
rr_intervalss = dfxn['RR Intervals'].tolist()

# Memanggil fungsi get_time_domain_features untuk orang A
time_domain_featuress = get_time_domain_features(rr_intervalss)
time_domain_featuress

{'mean_nni': 714.7974619115157,
 'sdnn': 139.29934652155572,
 'sdsd': 35.46216980066313,
 'nni_50': 2200,
 'pnni_50': 10.06588579795022,
 'nni_20': 7824,
 'pnni_20': 35.797950219619324,
 'rmssd': 35.462169980816924,
 'median_nni': 695.3125,
 'range_nni': 1031.25,
 'cvsd': 0.049611493983181994,
 'cvnni': 0.19487946438567447,
 'mean_hr': 86.89659409675176,
 'max_hr': 156.73469387755102,
 'min_hr': 42.430939226519335,
 'std_hr': 15.771882323568175}

# 17052

In [128]:
record = wfdb.rdsamp('17052')
da = pd.DataFrame(record[0], columns=record[1]['sig_name'])
da.to_csv('17052.csv', index=False)

In [129]:
csv_file2 = '17052.csv'
df11 = pd.read_csv(csv_file2)
df11

           ECG1   ECG2
0        -0.035 -0.115
1        -0.015 -0.135
2        -0.045 -0.125
3        -0.025 -0.105
4        -0.035 -0.115
...         ...    ...
10659835 -0.040 -0.045
10659836 -0.040 -0.055
10659837 -0.040 -0.055
10659838 -0.040 -0.055
10659839 -0.040 -0.055

[10659840 rows x 2 columns]

In [130]:
df11.drop(df.index[1999999:10659839], inplace=True)

In [131]:
# Ambil sinyal ECG dari kolom ECG1
ecg_signal = df11['ECG1'].values

# Pra-pemrosesan ECG1, show=False)
processed_ecg = ecg.ecg(signal=ecg_signal, sampling_rate=128, show=False)

# Deteksi kompleks QRS
qrs_indices = processed_ecg['rpeaks']

# Perhitungan interval RR
rr_intervals = np.diff(qrs_indices) / 128  # Mengubah selisih indeks menjadi interval dalam detik

# Hasilnya adalah array RR intervals yang dapat Anda gunakan untuk analisis HRV
rr_intervals

dfy = pd.DataFrame({'RR Intervals': rr_intervals})
dfxn = dfy.multiply(1000)
dfxn

# Mendapatkan kolom RR interval untuk orang A
rr_intervalss = dfxn['RR Intervals'].tolist()

# Memanggil fungsi get_time_domain_features untuk orang A
time_domain_featuress = get_time_domain_features(rr_intervalss)
time_domain_featuress

{'mean_nni': 828.8096453769031,
 'sdnn': 143.30626623421466,
 'sdsd': 58.11373609946432,
 'nni_50': 3772,
 'pnni_50': 20.010610079575596,
 'nni_20': 9441,
 'pnni_20': 50.08488063660477,
 'rmssd': 58.113736171882,
 'median_nni': 812.5,
 'range_nni': 1156.25,
 'cvsd': 0.07011710891160618,
 'cvnni': 0.17290612752104956,
 'mean_hr': 74.45419021714608,
 'max_hr': 247.74193548387098,
 'min_hr': 42.90502793296089,
 'std_hr': 12.302531988026018}

# 17453

In [132]:
record = wfdb.rdsamp('17453')
da = pd.DataFrame(record[0], columns=record[1]['sig_name'])
da.to_csv('17453.csv', index=False)

In [133]:
csv_file2 = '17453.csv'
df12 = pd.read_csv(csv_file2)
df12

           ECG1   ECG2
0         0.525  0.315
1         0.695 -0.515
2         0.475 -1.005
3         0.015 -1.145
4        -0.155 -0.605
...         ...    ...
11235323 -0.010 -0.045
11235324 -0.020 -0.045
11235325 -0.020 -0.045
11235326 -0.020 -0.035
11235327 -0.020 -0.035

[11235328 rows x 2 columns]

In [134]:
df12.drop(df.index[1999999:], inplace=True)

In [135]:
# Ambil sinyal ECG dari kolom ECG1
ecg_signal = df12['ECG1'].values

# Pra-pemrosesan ECG1, show=False)
processed_ecg = ecg.ecg(signal=ecg_signal, sampling_rate=128, show=False)

# Deteksi kompleks QRS
qrs_indices = processed_ecg['rpeaks']

# Perhitungan interval RR
rr_intervals = np.diff(qrs_indices) / 128  # Mengubah selisih indeks menjadi interval dalam detik

# Hasilnya adalah array RR intervals yang dapat Anda gunakan untuk analisis HRV
rr_intervals

dfy = pd.DataFrame({'RR Intervals': rr_intervals})
dfxn = dfy.multiply(1000)
dfxn

# Mendapatkan kolom RR interval untuk orang A
rr_intervalss = dfxn['RR Intervals'].tolist()

# Memanggil fungsi get_time_domain_features untuk orang A
time_domain_featuress = get_time_domain_features(rr_intervalss)
time_domain_featuress

{'mean_nni': 690.1898716702743,
 'sdnn': 76.70252287408897,
 'sdsd': 30.22785914365444,
 'nni_50': 1731,
 'pnni_50': 7.647110796960594,
 'nni_20': 9834,
 'pnni_20': 43.44407139070507,
 'rmssd': 30.22785914562479,
 'median_nni': 687.5,
 'range_nni': 1039.0625,
 'cvsd': 0.043796439771671414,
 'cvnni': 0.11113249559641786,
 'mean_hr': 87.99268685263885,
 'max_hr': 121.9047619047619,
 'min_hr': 39.183673469387756,
 'std_hr': 9.658411872730676}

# 18177

In [136]:
record = wfdb.rdsamp('18177')
da = pd.DataFrame(record[0], columns=record[1]['sig_name'])
da.to_csv('18177.csv', index=False)

In [137]:
csv_file2 = '18177.csv'
df13 = pd.read_csv(csv_file2)
df13

           ECG1   ECG2
0        -0.215 -0.015
1        -0.195 -0.005
2        -0.185  0.015
3        -0.175  0.025
4        -0.185  0.025
...         ...    ...
11960315 -0.050 -0.075
11960316 -0.050 -0.075
11960317 -0.050 -0.075
11960318 -0.050 -0.085
11960319 -0.050 -0.075

[11960320 rows x 2 columns]

In [138]:
df13.drop(df.index[1999999:], inplace=True)

In [139]:
# Ambil sinyal ECG dari kolom ECG1
ecg_signal = df13['ECG1'].values

# Pra-pemrosesan ECG1, show=False)
processed_ecg = ecg.ecg(signal=ecg_signal, sampling_rate=128, show=False)

# Deteksi kompleks QRS
qrs_indices = processed_ecg['rpeaks']

# Perhitungan interval RR
rr_intervals = np.diff(qrs_indices) / 128  # Mengubah selisih indeks menjadi interval dalam detik

# Hasilnya adalah array RR intervals yang dapat Anda gunakan untuk analisis HRV
rr_intervals

dfy = pd.DataFrame({'RR Intervals': rr_intervals})
dfxn = dfy.multiply(1000)
dfxn

# Mendapatkan kolom RR interval untuk orang A
rr_intervalss = dfxn['RR Intervals'].tolist()

# Memanggil fungsi get_time_domain_features untuk orang A
time_domain_featuress = get_time_domain_features(rr_intervalss)
time_domain_featuress

{'mean_nni': 658.0528339931769,
 'sdnn': 82.17792819791178,
 'sdsd': 35.64048786888034,
 'nni_50': 2063,
 'pnni_50': 8.689242692275293,
 'nni_20': 7908,
 'pnni_20': 33.308061662875915,
 'rmssd': 35.64048794331375,
 'median_nni': 656.25,
 'range_nni': 898.4375,
 'cvsd': 0.05416052648393167,
 'cvnni': 0.124880441133035,
 'mean_hr': 92.63674668352427,
 'max_hr': 256.0,
 'min_hr': 52.96551724137931,
 'std_hr': 11.85832850817355}

# 18184

In [140]:
record = wfdb.rdsamp('18184')
da = pd.DataFrame(record[0], columns=record[1]['sig_name'])
da.to_csv('18184.csv', index=False)

In [141]:
csv_file2 = '18184.csv'
df14 = pd.read_csv(csv_file2)
df14

           ECG1   ECG2
0        -0.325 -0.185
1        -0.395 -0.155
2        -0.255 -0.125
3        -0.335 -0.115
4        -0.375 -0.105
...         ...    ...
10942459 -0.100 -0.130
10942460 -0.100 -0.130
10942461 -0.110 -0.130
10942462 -0.110 -0.130
10942463 -0.100 -0.130

[10942464 rows x 2 columns]

In [144]:
df14.drop(df.index[1999999:10942463], inplace=True)

In [145]:
# Ambil sinyal ECG dari kolom ECG1
ecg_signal = df14['ECG1'].values

# Pra-pemrosesan ECG1, show=False)
processed_ecg = ecg.ecg(signal=ecg_signal, sampling_rate=128, show=False)

# Deteksi kompleks QRS
qrs_indices = processed_ecg['rpeaks']

# Perhitungan interval RR
rr_intervals = np.diff(qrs_indices) / 128  # Mengubah selisih indeks menjadi interval dalam detik

# Hasilnya adalah array RR intervals yang dapat Anda gunakan untuk analisis HRV
rr_intervals

dfy = pd.DataFrame({'RR Intervals': rr_intervals})
dfxn = dfy.multiply(1000)
dfxn

# Mendapatkan kolom RR interval untuk orang A
rr_intervalss = dfxn['RR Intervals'].tolist()

# Memanggil fungsi get_time_domain_features untuk orang A
time_domain_featuress = get_time_domain_features(rr_intervalss)
time_domain_featuress

{'mean_nni': 715.2393105658305,
 'sdnn': 79.80021276027931,
 'sdsd': 32.63829034905134,
 'nni_50': 1163,
 'pnni_50': 5.324360206931282,
 'nni_20': 7140,
 'pnni_20': 32.6878176074715,
 'rmssd': 32.638291885486176,
 'median_nni': 718.75,
 'range_nni': 1187.5,
 'cvsd': 0.045632687414322644,
 'cvnni': 0.1115713462353584,
 'mean_hr': 84.9585794736367,
 'max_hr': 121.9047619047619,
 'min_hr': 35.72093023255814,
 'std_hr': 9.759821799158276}

# 19088

In [146]:
record = wfdb.rdsamp('19088')
da = pd.DataFrame(record[0], columns=record[1]['sig_name'])
da.to_csv('19088.csv', index=False)

In [147]:
csv_file2 = '19088.csv'
df15 = pd.read_csv(csv_file2)
df15

           ECG1   ECG2
0         0.365  0.245
1         0.365  0.255
2         0.355  0.235
3         0.355  0.235
4         0.345  0.225
...         ...    ...
10967035 -0.040 -0.090
10967036 -0.040 -0.090
10967037 -0.040 -0.090
10967038 -0.040 -0.090
10967039 -0.040 -0.090

[10967040 rows x 2 columns]

In [148]:
df15.drop(df.index[1999999:10967039], inplace=True)

In [149]:
# Ambil sinyal ECG dari kolom ECG1
ecg_signal = df15['ECG1'].values

# Pra-pemrosesan ECG1, show=False)
processed_ecg = ecg.ecg(signal=ecg_signal, sampling_rate=128, show=False)

# Deteksi kompleks QRS
qrs_indices = processed_ecg['rpeaks']

# Perhitungan interval RR
rr_intervals = np.diff(qrs_indices) / 128  # Mengubah selisih indeks menjadi interval dalam detik

# Hasilnya adalah array RR intervals yang dapat Anda gunakan untuk analisis HRV
rr_intervals

dfy = pd.DataFrame({'RR Intervals': rr_intervals})
dfxn = dfy.multiply(1000)
dfxn

# Mendapatkan kolom RR interval untuk orang A
rr_intervalss = dfxn['RR Intervals'].tolist()

# Memanggil fungsi get_time_domain_features untuk orang A
time_domain_featuress = get_time_domain_features(rr_intervalss)
time_domain_featuress

{'mean_nni': 625.89100618916,
 'sdnn': 64.07821218517368,
 'sdsd': 24.127521178827557,
 'nni_50': 973,
 'pnni_50': 3.8979248457655635,
 'nni_20': 7867,
 'pnni_20': 31.515904174345003,
 'rmssd': 24.127521424447693,
 'median_nni': 625.0,
 'range_nni': 664.0625,
 'cvsd': 0.03854907833130893,
 'cvnni': 0.10237918671387274,
 'mean_hr': 96.9206990481057,
 'max_hr': 142.22222222222223,
 'min_hr': 55.25179856115108,
 'std_hr': 10.461523453374982}

# 19090

In [150]:
record = wfdb.rdsamp('19090')
da = pd.DataFrame(record[0], columns=record[1]['sig_name'])
da.to_csv('19090.csv', index=False)

In [161]:
csv_file2 = '19090.csv'
df16 = pd.read_csv(csv_file2)
df16

           ECG1   ECG2
0         0.165  0.085
1         0.155  0.085
2         0.155  0.085
3         0.135  0.075
4         0.135  0.065
...         ...    ...
11143163 -0.050 -0.090
11143164 -0.040 -0.090
11143165 -0.050 -0.090
11143166 -0.050 -0.090
11143167 -0.050 -0.090

[11143168 rows x 2 columns]

In [162]:
df16.drop(df.index[1999999:11143167], inplace=True)

In [163]:
# Ambil sinyal ECG dari kolom ECG1
ecg_signal = df16['ECG1'].values

# Pra-pemrosesan ECG1, show=False)
processed_ecg = ecg.ecg(signal=ecg_signal, sampling_rate=128, show=False)

# Deteksi kompleks QRS
qrs_indices = processed_ecg['rpeaks']

# Perhitungan interval RR
rr_intervals = np.diff(qrs_indices) / 128  # Mengubah selisih indeks menjadi interval dalam detik

# Hasilnya adalah array RR intervals yang dapat Anda gunakan untuk analisis HRV
rr_intervals

dfy = pd.DataFrame({'RR Intervals': rr_intervals})
dfxn = dfy.multiply(1000)
dfxn

# Mendapatkan kolom RR interval untuk orang A
rr_intervalss = dfxn['RR Intervals'].tolist()

# Memanggil fungsi get_time_domain_features untuk orang A
time_domain_featuress = get_time_domain_features(rr_intervalss)
time_domain_featuress

{'mean_nni': 1131.3787749855157,
 'sdnn': 716.5251349013944,
 'sdsd': 835.7573929941285,
 'nni_50': 3838,
 'pnni_50': 55.59901492104882,
 'nni_20': 5286,
 'pnni_20': 76.57540199913082,
 'rmssd': 835.7573941596581,
 'median_nni': 804.6875,
 'range_nni': 20398.4375,
 'cvsd': 0.7387069765122275,
 'cvnni': 0.6333202909083808,
 'mean_hr': 66.32883039144103,
 'max_hr': 384.0,
 'min_hr': 2.919042189281642,
 'std_hr': 26.90452726176505}

# 19093

In [154]:
record = wfdb.rdsamp('19093')
da = pd.DataFrame(record[0], columns=record[1]['sig_name'])
da.to_csv('19093.csv', index=False)

In [166]:
csv_file2 = '19093.csv'
df17 = pd.read_csv(csv_file2)
df17

           ECG1   ECG2
0         0.675  0.735
1         0.665  0.735
2         0.655  0.725
3         0.645  0.715
4         0.635  0.705
...         ...    ...
10705915 -0.090  0.010
10705916 -0.100  0.010
10705917 -0.090  0.010
10705918 -0.100  0.010
10705919 -0.090  0.010

[10705920 rows x 2 columns]

In [167]:
df17.drop(df.index[2999999:10705919], inplace=True)

In [168]:
# Ambil sinyal ECG dari kolom ECG1
ecg_signal = df17['ECG1'].values

# Pra-pemrosesan ECG1, show=False)
processed_ecg = ecg.ecg(signal=ecg_signal, sampling_rate=128, show=False)

# Deteksi kompleks QRS
qrs_indices = processed_ecg['rpeaks']

# Perhitungan interval RR
rr_intervals = np.diff(qrs_indices) / 128  # Mengubah selisih indeks menjadi interval dalam detik

# Hasilnya adalah array RR intervals yang dapat Anda gunakan untuk analisis HRV
rr_intervals

dfy = pd.DataFrame({'RR Intervals': rr_intervals})
dfxn = dfy.multiply(1000)
dfxn

# Mendapatkan kolom RR interval untuk orang A
rr_intervalss = dfxn['RR Intervals'].tolist()

# Memanggil fungsi get_time_domain_features untuk orang A
time_domain_featuress = get_time_domain_features(rr_intervalss)
time_domain_featuress

{'mean_nni': 901.9963173036216,
 'sdnn': 173.83529062996058,
 'sdsd': 157.9778268920371,
 'nni_50': 4932,
 'pnni_50': 18.98237241166962,
 'nni_20': 15175,
 'pnni_20': 58.40581941344007,
 'rmssd': 157.97782744604265,
 'median_nni': 890.625,
 'range_nni': 3492.1875,
 'cvsd': 0.17514243064571808,
 'cvnni': 0.19272283854729505,
 'mean_hr': 68.81430978134163,
 'max_hr': 3840.0,
 'min_hr': 17.104677060133632,
 'std_hr': 36.89492553075345}

# 19140

In [169]:
record = wfdb.rdsamp('19140')
da = pd.DataFrame(record[0], columns=record[1]['sig_name'])
da.to_csv('19140.csv', index=False)

In [170]:
csv_file2 = '19140.csv'
df18 = pd.read_csv(csv_file2)
df18

           ECG1   ECG2
0         0.255  0.185
1         0.245  0.175
2         0.235  0.165
3         0.235  0.165
4         0.235  0.165
...         ...    ...
11139067 -0.030 -0.090
11139068 -0.040 -0.080
11139069 -0.040 -0.090
11139070 -0.040 -0.090
11139071 -0.040 -0.090

[11139072 rows x 2 columns]

In [171]:
df18.drop(df.index[1999999:11139071], inplace=True)

In [172]:
# Ambil sinyal ECG dari kolom ECG1
ecg_signal = df18['ECG1'].values

# Pra-pemrosesan ECG1, show=False)
processed_ecg = ecg.ecg(signal=ecg_signal, sampling_rate=128, show=False)

# Deteksi kompleks QRS
qrs_indices = processed_ecg['rpeaks']

# Perhitungan interval RR
rr_intervals = np.diff(qrs_indices) / 128  # Mengubah selisih indeks menjadi interval dalam detik

# Hasilnya adalah array RR intervals yang dapat Anda gunakan untuk analisis HRV
rr_intervals

dfy = pd.DataFrame({'RR Intervals': rr_intervals})
dfxn = dfy.multiply(1000)
dfxn

# Mendapatkan kolom RR interval untuk orang A
rr_intervalss = dfxn['RR Intervals'].tolist()

# Memanggil fungsi get_time_domain_features untuk orang A
time_domain_featuress = get_time_domain_features(rr_intervalss)
time_domain_featuress

{'mean_nni': 678.5010015851645,
 'sdnn': 76.51562180278457,
 'sdsd': 30.081734642799915,
 'nni_50': 1861,
 'pnni_50': 8.082519001085776,
 'nni_20': 8519,
 'pnni_20': 36.99891422366992,
 'rmssd': 30.081735408234177,
 'median_nni': 664.0625,
 'range_nni': 757.8125,
 'cvsd': 0.04433557995928523,
 'cvnni': 0.11277156794761256,
 'mean_hr': 89.50481395934285,
 'max_hr': 196.92307692307693,
 'min_hr': 56.470588235294116,
 'std_hr': 9.666661785622205}

# 19830

In [173]:
record = wfdb.rdsamp('19830')
da = pd.DataFrame(record[0], columns=record[1]['sig_name'])
da.to_csv('19830.csv', index=False)

In [184]:
csv_file2 = '19830.csv'
df19 = pd.read_csv(csv_file2)
df19

           ECG1   ECG2
0        -0.435 -0.425
1        -0.435 -0.415
2        -0.415 -0.405
3        -0.405 -0.405
4        -0.395 -0.395
...         ...    ...
10701819 -0.100  0.000
10701820 -0.090  0.000
10701821 -0.100  0.000
10701822 -0.090  0.000
10701823 -0.100  0.000

[10701824 rows x 2 columns]

In [185]:
df19.drop(df.index[1999999:10701823], inplace=True)

In [186]:
# Ambil sinyal ECG dari kolom ECG1
ecg_signal = df19['ECG1'].values

# Pra-pemrosesan ECG1, show=False)
processed_ecg = ecg.ecg(signal=ecg_signal, sampling_rate=128, show=False)

# Deteksi kompleks QRS
qrs_indices = processed_ecg['rpeaks']

# Perhitungan interval RR
rr_intervals = np.diff(qrs_indices) / 128  # Mengubah selisih indeks menjadi interval dalam detik

# Hasilnya adalah array RR intervals yang dapat Anda gunakan untuk analisis HRV
rr_intervals

dfy = pd.DataFrame({'RR Intervals': rr_intervals})
dfxn = dfy.multiply(1000)
dfxn

# Mendapatkan kolom RR interval untuk orang A
rr_intervalss = dfxn['RR Intervals'].tolist()

# Memanggil fungsi get_time_domain_features untuk orang A
time_domain_featuress = get_time_domain_features(rr_intervalss)
time_domain_featuress

{'mean_nni': 600.1765293932364,
 'sdnn': 67.74281569328376,
 'sdsd': 27.41972452580262,
 'nni_50': 287,
 'pnni_50': 0.4409821456009342,
 'nni_20': 4842,
 'pnni_20': 7.439845118465935,
 'rmssd': 27.41972464168137,
 'median_nni': 601.5625,
 'range_nni': 1710.9375,
 'cvsd': 0.045686099503761055,
 'cvnni': 0.11287148426442145,
 'mean_hr': 101.28832073661626,
 'max_hr': 284.44444444444446,
 'min_hr': 31.21951219512195,
 'std_hr': 11.957095457213375}

# ARITMIA

# 100

In [187]:
record = wfdb.rdsamp('100')
da = pd.DataFrame(record[0], columns=record[1]['sig_name'])
da.to_csv('100.csv', index=False)

In [188]:
csv_file2 = '100.csv'
df20 = pd.read_csv(csv_file2)
df20

         MLII     V5
0      -0.145 -0.065
1      -0.145 -0.065
2      -0.145 -0.065
3      -0.145 -0.065
4      -0.145 -0.065
...       ...    ...
649995 -0.075 -0.480
649996 -0.445 -0.410
649997 -0.675 -0.365
649998 -0.765 -0.335
649999 -1.280  0.000

[650000 rows x 2 columns]

In [190]:
# Ambil sinyal ECG dari kolom ECG1
ecg_signal = df20['V5'].values

# Pra-pemrosesan ECG1, show=False)
processed_ecg = ecg.ecg(signal=ecg_signal, sampling_rate=360, show=False)

# Deteksi kompleks QRS
qrs_indices = processed_ecg['rpeaks']

# Perhitungan interval RR
rr_intervals = np.diff(qrs_indices) / 360  # Mengubah selisih indeks menjadi interval dalam detik

# Hasilnya adalah array RR intervals yang dapat Anda gunakan untuk analisis HRV
rr_intervals

dfy = pd.DataFrame({'RR Intervals': rr_intervals})
dfxn = dfy.multiply(1000)
dfxn

# Mendapatkan kolom RR interval untuk orang A
rr_intervalss = dfxn['RR Intervals'].tolist()

# Memanggil fungsi get_time_domain_features untuk orang A
time_domain_featuress = get_time_domain_features(rr_intervalss)
time_domain_featuress

{'mean_nni': 795.679012345679,
 'sdnn': 70.20431691949963,
 'sdsd': 95.1179647167002,
 'nni_50': 235,
 'pnni_50': 10.366122629025144,
 'nni_20': 1110,
 'pnni_20': 48.963387737097484,
 'rmssd': 95.11798141664514,
 'median_nni': 797.2222222222223,
 'range_nni': 2680.5555555555557,
 'cvsd': 0.11954315740493804,
 'cvnni': 0.08823195764902204,
 'mean_hr': 75.78840051673329,
 'max_hr': 115.50802139037432,
 'min_hr': 18.75,
 'std_hr': 5.210907200664768}

In [201]:
record = wfdb.rdsamp('101')
da = pd.DataFrame(record[0], columns=record[1]['sig_name'])
da.to_csv('101.csv', index=False)

csv_file2 = '101.csv'
df21 = pd.read_csv(csv_file2)
df21

         MLII     V1
0      -0.345 -0.160
1      -0.345 -0.160
2      -0.345 -0.160
3      -0.345 -0.160
4      -0.345 -0.160
...       ...    ...
649995 -0.290 -0.100
649996 -0.295 -0.125
649997 -0.295 -0.110
649998 -0.290 -0.110
649999  0.000  0.000

[650000 rows x 2 columns]

In [202]:
# Ambil sinyal ECG dari kolom ECG1
ecg_signal = df21['V1'].values

# Pra-pemrosesan ECG1, show=False)
processed_ecg = ecg.ecg(signal=ecg_signal, sampling_rate=360, show=False)

# Deteksi kompleks QRS
qrs_indices = processed_ecg['rpeaks']

# Perhitungan interval RR
rr_intervals = np.diff(qrs_indices) / 360  # Mengubah selisih indeks menjadi interval dalam detik

# Hasilnya adalah array RR intervals yang dapat Anda gunakan untuk analisis HRV
rr_intervals

dfy = pd.DataFrame({'RR Intervals': rr_intervals})
dfxn = dfy.multiply(1000)
dfxn

# Mendapatkan kolom RR interval untuk orang A
rr_intervalss = dfy['RR Intervals'].tolist()

# Memanggil fungsi get_time_domain_features untuk orang A
time_domain_featuress = get_time_domain_features(rr_intervalss)
time_domain_featuress

{'mean_nni': 0.960932138208496,
 'sdnn': 0.3421168873984881,
 'sdsd': 0.37123393466405963,
 'nni_50': 0,
 'pnni_50': 0.0,
 'nni_20': 0,
 'pnni_20': 0.0,
 'rmssd': 0.3712339530736007,
 'median_nni': 0.9722222222222222,
 'range_nni': 2.988888888888889,
 'cvsd': 0.3863269197819806,
 'cvnni': 0.3560260644797563,
 'mean_hr': 77435.5898053534,
 'max_hr': 3085714.2857142854,
 'min_hr': 19944.598337950138,
 'std_hr': 94391.6533713617}

In [197]:
record = wfdb.rdsamp('102')
da = pd.DataFrame(record[0], columns=record[1]['sig_name'])
da.to_csv('102.csv', index=False)

csv_file2 = '102.csv'
df22 = pd.read_csv(csv_file2)
df22

           V5     V2
0      -0.200  0.005
1      -0.200  0.005
2      -0.200  0.005
3      -0.200  0.005
4      -0.200  0.005
...       ...    ...
649995 -0.160  0.255
649996 -0.160  0.220
649997 -0.170  0.200
649998 -0.195  0.195
649999  0.000  0.000

[650000 rows x 2 columns]

In [204]:
# Ambil sinyal ECG dari kolom ECG1
ecg_signal = df22['V5'].values

# Pra-pemrosesan ECG1, show=False)
processed_ecg = ecg.ecg(signal=ecg_signal, sampling_rate=360, show=False)

# Deteksi kompleks QRS
qrs_indices = processed_ecg['rpeaks']

# Perhitungan interval RR
rr_intervals = np.diff(qrs_indices) / 360  # Mengubah selisih indeks menjadi interval dalam detik

# Hasilnya adalah array RR intervals yang dapat Anda gunakan untuk analisis HRV
rr_intervals

dfy = pd.DataFrame({'RR Intervals': rr_intervals})
dfxn = dfy.multiply(1000)
dfxn

# Mendapatkan kolom RR interval untuk orang A
rr_intervalss = dfxn['RR Intervals'].tolist()

# Memanggil fungsi get_time_domain_features untuk orang A
time_domain_featuress = get_time_domain_features(rr_intervalss)
time_domain_featuress

{'mean_nni': 825.626461319508,
 'sdnn': 28.759772757687777,
 'sdsd': 33.332909178023556,
 'nni_50': 119,
 'pnni_50': 5.446224256292906,
 'nni_20': 999,
 'pnni_20': 45.720823798627,
 'rmssd': 33.33290956591382,
 'median_nni': 825.0,
 'range_nni': 477.7777777777777,
 'cvsd': 0.040372869726875635,
 'cvnni': 0.0348338796115185,
 'mean_hr': 72.7728813749156,
 'max_hr': 135.8490566037736,
 'min_hr': 65.25679758308158,
 'std_hr': 2.984311041086433}